.feedback {
  padding-bottom: 180px;
  @include mediaTablet {
    padding-bottom: 100px 0;
  }
  @include mediaMobile {
    padding-bottom: 60px 0;
  }

  .feedback__title {
    .title-2 {
      margin-bottom: 38px;
    }

    .feedback__form {
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      align-items: center;
      @include mediaTablet {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
    }
  }
}
